*{
    margin: 0;
    padding: 0;
    background-color: #000;
}

html, body{
    overflow: hidden;
}

.clock{
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-size: 15vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
}

@media screen and (max-width: 500px) {
    .clock{
        transform: rotate(90deg);   
        font-size: 8vmax;     
    }
}